@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}


/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-color:#FFF;
	position: relative;
    min-height: 40px;
}
#logo-img {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#button {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/*----------------------------------------------------*/
.menu{
	background:#000;
	color:#FFF;
	text-align:center;
	font-size:26px;
	font-variant:small-caps;
	text-decoration:none;
	list-style:none;
	
}


.menu > li{
	
	display:inline-block;
}
.menu > li > a{
	text-decoration:none;
	color:#FFF;
	font-size:24px;
	
}

@media only screen and (max-width:768px)
{
	
	
.menu{
	background:#000;
	color:#FFF;
	text-align:left;
	font-size:26px;
	font-variant:small-caps;
	display:none;
}

.menu > li{
	display:block;
}
.nav-btn{
	display:block;
	color:white;
	background:black;
	text-align:center;
	font-size:30px;
	cursor:pointer;
}
.nav-btn:before {
	content:"menu";
	
}
}
/*-----------------------------------------------------*/

.menu li:hover{
	background-color:#F90;
	
	transition:.75s;
	-moz-transition:.75s;
	-webkit-transition:.75s;
	transform:rotateX(360deg);
	-moz-transform:rotateX(360deg);
	-webkit-transform:rotateX(360deg);
	}

#hdr {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	
}
#slider {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 69.3877%;
	display: block;
	text-align:justify;
	border-radius:20px;
	border:#CCC 2px double;
	
}
#main:hover{
	border-radius:20px;
	background-color:#D7E9FD;
	}
#cont {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-one {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	border-radius:20px;
	border:#CCC 2px solid;

	margin-top:10px;
}
#cont-one:hover{
	border-radius:20px;
	background-color:#D7E9FD;
	}
#cont-one-h1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-one-img {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-one-p {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align:justify;
}
#cont-two {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	border-radius:20px;
	border:#CCC 2px solid;
	
	margin-top:10px;
}
#cont-two:hover{
	border-radius:20px;
	background-color:#D7E9FD;
	}
#cont-two-h1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-two-img {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-two-p {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
		text-align:justify;
}
#cont-three {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	border-radius:20px;
	border:#CCC 2px solid;
	
	margin-top:10px;
}
#cont-three:hover{
	border-radius:20px;
	background-color:#D7E9FD;
	}
#cont-three-h1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-three-img {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-three-p {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align:justify;
}
#cont-four {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-four:hover{
	border-radius:20px;
	background-color:#D7E9FD;
	}
#cont-four-form {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top:10px;
	background-color:#000;
}
#foot-one {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#foot-two {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#foot-three {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#foot-four {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#ftr {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#logo-img {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#button {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#hdr {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#slider {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-one {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-one-h1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-one-img {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-one-p {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-two {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-two-h1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-two-img {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-two-p {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-three {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-three-h1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-three-img {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-three-p {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-four {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-four-form {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#foot-one {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#foot-two {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#foot-three {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#foot-four {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#ftr {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#logo-img {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#button {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#hdr {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#slider {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-one {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-one-h1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-one-img {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-one-p {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-two {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-two-h1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-two-img {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-two-p {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-three {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-three-h1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-three-img {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-three-p {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-four {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cont-four-form {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#foot-one {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#foot-two {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#foot-three {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#foot-four {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#ftr {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}